@model IEnumerable<PlataFormaDePagosWebApp.CAJA>

@{
    ViewBag.Title = "Cajas Registradas";
}

<h2>Cajas Registradas</h2>

<p>
    @Html.ActionLink("Registrar Nueva Caja", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>Descripción</th>
            <th>@Html.DisplayNameFor(model => model.TelefonoSINPE)</th>
            <th>@Html.DisplayNameFor(model => model.FechaDeRegistro)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>Comercio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>
                    @(item.Descripcion != null && item.Descripcion.Length > 10
                        ? item.Descripcion.Substring(0, 10) + "..."
                        : item.Descripcion)
                </td>
                <td>@Html.DisplayFor(modelItem => item.TelefonoSINPE)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaDeRegistro)</td>
                <td>@(item.Estado ? "Activo" : "Inactivo")</td>
                <td>@Html.DisplayFor(modelItem => item.COMERCIO.Identificacion)</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdCaja }) |
                    @Html.ActionLink("Ver SINPE", "VerSinpe", "CAJAs", new { telefono = item.TelefonoSINPE }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
