@model IEnumerable<PlataFormaDePagosWebApp.BITACORA>

@{
    ViewBag.Title = "Bitácora de Eventos";
}

<h2>Bitácora de Eventos</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.IdEvento)</th>
        <th>@Html.DisplayNameFor(model => model.TablaDeEvento)</th>
        <th>@Html.DisplayNameFor(model => model.TipoDeEvento)</th>
        <th>@Html.DisplayNameFor(model => model.FechaDeEvento)</th>
        <th>@Html.DisplayNameFor(model => model.DescripcionDeEvento)</th>
        <th>@Html.DisplayNameFor(model => model.StackTrace)</th>
        <th>@Html.DisplayNameFor(model => model.DatosAnteriores)</th>
        <th>@Html.DisplayNameFor(model => model.DatosPosteriores)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.IdEvento</td>
            <td>@item.TablaDeEvento</td>
            <td>@item.TipoDeEvento</td>
            <td>@item.FechaDeEvento</td>
            <td>@item.DescripcionDeEvento</td>
            <td><pre>@item.StackTrace</pre></td>
            <td><pre>@item.DatosAnteriores</pre></td>
            <td><pre>@item.DatosPosteriores</pre></td>
        </tr>
    }
</table>
