@model PlataFormaDePagosWebApp.SINPE

@{
    ViewBag.Title = "Detalles de la Transferencia SINPE";

    string estado = Model.Estado ? "Sincronizado" : "No sincronizado";
}

<h2>Detalles de la Transferencia SINPE</h2>

<div>
    <h4>SINPE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.TelefonoOrigen)</dt>
        <dd>@Html.DisplayFor(model => model.TelefonoOrigen)</dd>

        <dt>@Html.DisplayNameFor(model => model.NombreOrigen)</dt>
        <dd>@Html.DisplayFor(model => model.NombreOrigen)</dd>

        <dt>@Html.DisplayNameFor(model => model.TelefonoDestinatario)</dt>
        <dd>@Html.DisplayFor(model => model.TelefonoDestinatario)</dd>

        <dt>@Html.DisplayNameFor(model => model.NombreDestinatario)</dt>
        <dd>@Html.DisplayFor(model => model.NombreDestinatario)</dd>

        <dt>@Html.DisplayNameFor(model => model.Monto)</dt>
        <dd>@Html.DisplayFor(model => model.Monto)</dd>

        <dt>@Html.DisplayNameFor(model => model.Descripcion)</dt>
        <dd>@Html.DisplayFor(model => model.Descripcion)</dd>

        <dt>@Html.DisplayNameFor(model => model.FechaDeRegistro)</dt>
        <dd>@Model.FechaDeRegistro.ToString("dd/MM/yyyy HH:mm")</dd>

        <dt>@Html.DisplayNameFor(model => model.FechaDeModificacion)</dt>
        <dd>@(Model.FechaDeModificacion?.ToString("dd/MM/yyyy HH:mm") ?? "-")</dd>

        <dt>@Html.DisplayName("Estado")</dt>
        <dd>@estado</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdSinpe }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })
</p>
