@model PlataFormaDePagosWebApp.REPORTESMENSUALES

@{
    ViewBag.Title = "Crear Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-4">Crear Reporte Mensual</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card mx-auto" style="max-width: 700px;">
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.IdComercio, "Comercio", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("IdComercio", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdComercio, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CantidadDeCajas)
                @Html.EditorFor(model => model.CantidadDeCajas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantidadDeCajas, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MontoTotalRecaudado)
                @Html.EditorFor(model => model.MontoTotalRecaudado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MontoTotalRecaudado, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CantidadDeSinpes)
                @Html.EditorFor(model => model.CantidadDeSinpes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantidadDeSinpes, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MontoTotalComision)
                @Html.EditorFor(model => model.MontoTotalComision, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MontoTotalComision, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaDelReporte)
                @Html.EditorFor(model => model.FechaDelReporte, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.FechaDelReporte, "", new { @class = "text-danger" })
            </div>

            <div class="form-group text-right">
                <input type="submit" value="Guardar" class="btn btn-success" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary ml-2" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
