@model IEnumerable<PlataFormaDePagosWebApp.REPORTESMENSUALES>

@{
    ViewBag.Title = "Reportes Mensuales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Reportes Mensuales</h2>

<div class="text-right mb-3">
    @using (Html.BeginForm("GenerarReportes", "REPORTESMENSUALES", FormMethod.Post, new { @class = "d-inline" }))
    {
        <button type="submit" class="btn btn-success">Generar Reportes</button>
    }
</div>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().COMERCIO.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CantidadDeCajas)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MontoTotalRecaudado)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CantidadDeSinpes)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MontoTotalComision)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().FechaDelReporte)</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.COMERCIO.Nombre</td>
                <td>@item.CantidadDeCajas</td>
                <td>₡@item.MontoTotalRecaudado.ToString("N2")</td>
                <td>@item.CantidadDeSinpes</td>
                <td>₡@item.MontoTotalComision.ToString("N2")</td>
                <td>@item.FechaDelReporte.ToString("dd/MM/yyyy")</td>
                <td class="text-center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdReporte }, new { @class = "btn btn-sm btn-warning" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdReporte }, new { @class = "btn btn-sm btn-info" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdReporte }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
